body {
  margin: 0;
  font-family: 'Playfair Display', serif;
font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  padding: 20px;
  border-bottom: 1px solid gray;
  text-align: center;
  flex: 0;
}
.main {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-grow: 1;
  padding-top: 50px;
}
.aside {
  width: 250px;
  flex: 0;
}
.main-section {
  flex-grow: 1;
  padding-left: 50px;
  }
  .img {
  border: 1px solid gray;
}

.link:hover {
  color: #f3faa7;
}
.title {
  font-family: 'Playfair Display', serif;
}
.subtitle {
  border-left: 5px;
  padding-left: 10px;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
}
.contacts-icon {
  margin-right: 20px;
}

